#informationDetail {
    position: relative;
    width: 960px;
    margin: 30px auto 0;
    overflow: hidden;
}


/* 面包屑*/

#informationDetail .crubms {
    color: #9e9e9e;
    margin-bottom: 30px;
}

#informationDetail .crubms a {
    color: #9e9e9e;
}

#informationDetail .crubms a:hover {
    color: #42bad0;
}


/*左侧*/

#informationDetail .information-content {
    float: left;
    width: 600px;
}


/*文章*/

#informationDetail .information-article {
    margin-bottom: 30px;
}

#informationDetail .information-article .share {
    float: right;
    margin-top: -6px;
}

#informationDetail .information-article .share .fa-stack {
    cursor: pointer;
}

#informationDetail .information-article .share .weixin {
    color: #93d686;
}

#informationDetail .information-article .share .weibo {
    color: #e96275;
}

#informationDetail .information-article-header {
    padding-bottom: 14px;
    border-bottom: 1px solid #ebebeb;
}

#informationDetail .information-article-header h2 {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: bold;
}

#informationDetail .information-article-header p {
    color: #9e9e9e;
}

#informationDetail .information-article-content {
    font-size: 14px;
    line-height: 2;
    padding: 25px 10px 0;
}

#informationDetail .information-article-content p {
    margin-bottom: 28px;
}

#informationDetail .information-article-footer {
    padding-bottom: 14px;
    border-bottom: 1px solid #ebebeb;
}

#informationDetail .information-article-footer .flip .prev {
    margin-right: 16px;
}

#informationDetail .information-article-footer .flip a {
    color: #9e9e9e;
}

#informationDetail .information-article-footer .flip a:hover {
    color: #42bad0;
}


/*相关资讯*/

#informationDetail .information-relative {
    width: 100%;
    margin-bottom: 15px;
}

#informationDetail .information-relative h3 {
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #ebebeb;
}

#informationDetail .information-relative ul {
    width: 580px;
    padding: 0 10px;
}

#informationDetail .information-relative li {
    float: left;
    width: 270px;
    height: 18px;
    margin-top: 18px;
    list-style: disc;
    list-style-position: inside;
    color: #42bad0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#informationDetail .information-relative li.left {
    margin-right: 40px;
}

#informationDetail .information-relative li a {
    margin-left: -10px;
}


/*右侧*/

#informationDetail .sidebar {
    float: right;
    width: 300px;
}


/*热门资讯*/

#informationDetail .hot-information h3 {
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #ebebeb;
}

#informationDetail .hot-information ul {
    width: 270px;
    padding: 0 22px 0 8px;
    margin-bottom: 30px;
}

#informationDetail .hot-information li {
    width: 100%;
    height: 18px;
    margin-top: 18px;
    list-style: disc;
    list-style-position: inside;
    color: #42bad0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#informationDetail .hot-information li a {
    margin-left: -10px;
}


/*热心顾问*/

#informationDetail .warmheart-advisers .rank-title {
    position: relative;
    width: 100%;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #ebebeb;
}

#informationDetail .warmheart-advisers .rank-title b {
    font-size: 14px;
}

#informationDetail .warmheart-advisers .rank-title-tab {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 26px;
}

#informationDetail .warmheart-advisers .rank-title-tab a {
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin-right: 5px;
}

#informationDetail .warmheart-advisers .rank-title-tab a:hover,
#informationDetail .warmheart-advisers .rank-title-tab a.active {
    border-color: #42bad0;
}

#informationDetail .warmheart-advisers .rank-item {
    position: relative;
    padding: 12px 8px;
    height: 32px;
    line-height: 32px;
    color: #9e9e9e;
    border-bottom: 1px solid #ebebeb;
}

#informationDetail .warmheart-advisers .rank-item span {
    display: inline-block;
    vertical-align: middle;
}

#informationDetail .warmheart-advisers .rank-item:hover {
    background-color: #fafafa;
}

#informationDetail .warmheart-advisers .rank-item:hover .rank-item-link {
    display: block;
}

#informationDetail .warmheart-advisers .rank-item-link {
    display: none;
    position: absolute;
    top: 16px;
    right: 8px;
    z-index: 2;
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    background-color: #42bad0;
}

#informationDetail .warmheart-advisers .rank-item-avatar {
    width: 31px;
    height: 31px;
    vertical-align: bottom;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #e9f2f4;
    margin-right: 3px;
}

#informationDetail .warmheart-advisers .rank-item-name {
    margin-right: 12px;
    width: 50px;
    height: 32px;
    overflow: hidden;
}

#informationDetail .warmheart-advisers .rank-item-company {
    margin-right: 6px;
    width: 26px;
    height: 32px;
    overflow: hidden;
}

#informationDetail .warmheart-advisers .rank-item-level,
#informationDetail .warmheart-advisers .rank-item-authentication {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#informationDetail .warmheart-advisers .rank-item-level {
    margin-right: 2px;
    background: url("../img/author-level.png") no-repeat 0 0;
}

#informationDetail .warmheart-advisers .rank-item-authentication {
    background: url("../img/author-authentication.png") no-repeat 0 0;
}

#informationDetail .warmheart-advisers .rank-item-score {
    float: right;
}
