html, body{
    background-color: #e9f2f4;
}
#Register{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
#Register .register-body{
    position: relative;
    width: 854px;
    min-height: 634px;
    margin: 87px auto 36px;
    background: #ffffff;
    padding-top: 62px;
}

#Register .register-body .logo{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 56px;
    height: 56px;
    margin: -28px  0 0 -28px;
}

#Register .register-body form{
    width: 332px;
    margin: 0 auto 37px;
}
#Register .register-body h2{
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
}

#Register .register-body p.role {
    text-align: center;
    margin-bottom: 22px;
}

#Register .register-body p label{
    position: relative;
    display: inline-block;
    width: 65px;
    height: 20px;
    border-bottom: 2px solid transparent;
    color: #9e9e9e;
}

#Register .register-body p label input[type="radio"]{
    position: absolute;
    width: 65px;
    height: 20px;
    z-index: 2;
    opacity: 0;
    filter: Alpha(opacity=0);
    cursor: pointer;
}

#Register .register-body p label.buyer{
    margin-right: 3px;
}

#Register .register-body p label.active{
    border-color: #42bad0;
    color: #42bad0;
}


#Register .register-body input[type="text"],
#Register .register-body input[type="password"]{
    width: 306px;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    border: 1px solid #ebebeb;
    font-size: 12px;
    color: #424242;
    margin-top: 18px;
}

#Register .register-body input[type="text"]:focus,
#Register .register-body input[type="password"]:focus{
    border-color: #42bad0;
}


#Register .register-body select{
    display: none;
    width: 330px;
    height: 40px;
    line-height: 40px;
    margin-top: 18px;
    border: 1px solid #ebebeb;
    padding: 0 12px;
}

#Register .register-body p.agreement{
    color: #9e9e9e;
    margin-top: 18px;
}







#Register .register-body button[type="submit"]{
    width: 330px;
    height: 40px;
    line-height: 40px;
    background-color: #42bad0;
    color: #ffffff;
    text-align: center;
    margin-top: 18px;
    border: none;
    cursor: pointer;
}
#Register .register-body button[type="submit"]:hover{
    background-color: #4bd3eb;
}







#Register .register-body p.login{
    margin: 40px 0 0;
    text-align: center;
}

#Register .copyright{
    margin-bottom: 90px;
    text-align: center;
    color: #9e9e9e;
}